*, body, html {
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(255, 248, 240);
    width: 100%;
    height: auto;
}

.wrapper h4 {
    flex-direction: row;
    display: flex;
}

.judul1 {
    padding: 30px 400px;
}

.isi {
    margin-left: 10px;
    font-size: 1.2em;
}

img {
    width: 50em;
}

.card {
    background-color: rgb(143, 143, 143);
    width: 650px;
    color: white;
    border-radius: 8px;
    padding: 5px;
}

button {
    border-style: none;
    background-color: rgb(143, 143, 255);
    height: 30px;
    width: 80px;
    border-radius: 4px;
}

.kembali a {
    text-decoration: none;
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: blue;
    transition: ease-in-out .3s;
}

@media screen and (max-width: 991px) {
    img {
        width: 20em;
    }

    .card {
        width: 340px;
    }

    .judul1 {
        padding-left: 10px;
    }
}
